[Unit]
Description=Minima Blockchain Node
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pinet
ExecStart=/usr/bin/java -jar /opt/minima/minima.jar -daemon -rpcenable -mdsenable
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
