[Unit]
Description=PiNet Node Agent
After=pinet-edge-runtime.service

[Service]
Type=simple
ExecStart=/pinet/services/cluster-manager/node-agent
Restart=always

[Install]
WantedBy=multi-user.target
