[Unit]
Description=PiNet Cluster Manager
After=network.target minima.service

[Service]
Type=simple
User=root
ExecStart=/opt/pinet/cluster-manager
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
